@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-black-100: oklch(255 255 255);
  --color-white-100: oklch(0 0 0);
  --color-blue-100: oklch(0.94 0.11 115.03);
  --text-2xl: 3.5rem;
  --text-xl: 3rem;
  --text-lg: 2.5rem;
  --text-md: 2rem;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  p {
    font-size: var(--text-md);
  }
  a {
    color: var(--color-blue-100);
    text-decoration-line: underline;
  }
}